<!DOCTYPE html>
<html lang="en">
<head>
    <script type = "text/javascript" src="functions.js"> </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="adderall.css" />
    <title>Adderall® (intermediate-acting)</title>
</head>
<body>
    <h1>Adderall® (intermediate-acting)</h1>
    <div id="optionsDiv">
        <button onclick="writePosts()">Write Post</button>
        <button onclick="readPosts()">Read Posts</button>
        <button onclick="addFilters()">Add Filters</button></div>
    <div id="contentDiv">
        
    </div>
    
</body>
</html>