.header{
    position: absolute;
    width: 1512px;
    height: 130px;
    left: 0px;
    top: 0px;

    background: #B6CCFE;
    border: 5px solid red;
}

.companyname{
    position: absolute;
    width: 296px;
    height: 47px;
    left: 33px;

    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;

    color: #000000;
    border: 5px solid red;
}

.title{
    position: absolute;
    width: 848px;
    height: 156px;
    left: 56px;
    top: 207px;

    font-family: Readex Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 137px;

    color: #000000;
    border: 5px red;
}

.slogan{
    position: absolute;
    width: 703px;
    height: 44px;
    left: 53px;
    top: 403px;

    font-family: Readex Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;

    color: #000000;
    border: 5px solid red;
}

img{
    position: absolute;
    width: 867px;
    height: 392px;
    left: 755px;
    top: 189px;
    border: 5px red;
}

.categoryDiv{
    background-color: red;
    border: 5px red;
}

.info{
    background-color: red;
    border: 5px solid red;
   
}