<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
    <h1 class="companyname">PrescriptMe.</h1>
</div>
    <h1 class="title">PrescriptMe</h1>
    <h3 class="slogan">Read and share unique insights about your meds before you take them. </h3>
    <div class="browserDiv"><button class="browseBtn">Browse</button></div>
    <div class="categoryDiv"></div>
</body>
</html>