.header{
    position: absolute;
    width: 1512px;
    height: 130px;
    left: 0px;
    top: 0px;
    background: #B6CCFE;

}

.companyname{
    position: absolute;
    width: 296px;
    height: 47px;
    left: 33px;
    top:25px;
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;

    color: #000000;

}

.title{
    position: absolute;
    width: 848px;
    height: 156px;
    left: 56px;
    top: 207px;

    font-family: Readex Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 137px;

    color: #000000;
}

.slogan{
    position: absolute;
    width: 703px;
    height: 44px;
    left: 53px;
    top: 403px;

    font-family: Readex Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    z-index:1;
    color: #000000;
    
}

img{
    position: relative;
    width: 800px;
    height: 392px;
    left: 720px;
    top: 189px;
    z-index:0;
    object-fit: fit;
}

.content{
    width: 800px;
    height: 500px;
}

.browseBtn{
    position: absolute;
width: 208px;
height: 59px;
left: 256px;
top: 484px;
background: #B6CCFE;
color: white;
border: none;

font-family: 'Readex Pro', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 33px;

color: #FFFFFF;
}

.browseBtn:hover{
    background-color: #e2eafc;
    color: #000000;
}