.meds{
    margin: 20px;
}

h1{
    position: absolute;
    width: 296px;
    height: 47px;
    left: 33px;
    top:25px;
    font-family: 'Readex Pro', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;

    color: #000000;

}