<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stimulant Medications</title>
</head>
<body>
    <h1>Stimulant Medications</h1>
    <div class="meds">
        <a href="/view/adderall.html"><button id="adderall">Adderall® (intermediate-acting)</button></a></br></br>
        <button id="adderallxr">Adderall XR® (long-acting)</button></br></br>
        <button id="concerta">Concerta® (long-acting)</button></br></br>
        <button id="daytrana">Daytrana® (long-acting patch)</button></br></br>
        <button id="dexedrine">Dexedrine® (short-acting)</button></br></br>
        <button id="focalin">Focalin® (short-acting)</button></br></br>
        <button id="focalinxr">Focalin XR® (long-acting)</button></br></br>
        <button id="metadatecd">Metadate CD® (long-acting)</button></br></br>
        <button id="metadateer">Metadate® ER (intermediate-acting)</button></br></br>
        <button id="methyliner">Methylin™ ER (intermediate-acting)</button></br></br>
        <button id="ritalin">Ritalin® (short-acting)</button></br></br>
        <button id="ritalinla">Ritalin LA® (long-acting)</button></br></br>
        <button id="ritalinsr">Ritalin SR® (intermediate-acting)</button></br></br>
        <button id="vyvanse">Vyvanse® (long-acting)</button></br></br>
    </div>
</body>
</html>