<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stimulants.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stimulant Medications</title>
</head>
<body>
    <h1>Stimulant Medications</h1>
    <div class="meds">
        <button class="adderall">Adderall® (intermediate-acting)</button></br></br>
        <button class="adderallxr">Adderall XR® (long-acting)</button></br></br>
        <button class="concerta">Concerta® (long-acting)</button></br></br>
        <button class="daytrana">Daytrana® (long-acting patch)</button></br></br>
        <button class="dexedrine">Dexedrine® (short-acting)</button></br></br>
        <button class="focalin">Focalin® (short-acting)</button></br></br>
        <button class="focalinxr">Focalin XR® (long-acting)</button></br></br>
        <button class="metadatecd">Metadate CD® (long-acting)</button></br></br>
        <button class="metadateer">Metadate® ER (intermediate-acting)</button></br></br>
        <button class="methyliner">Methylin™ ER (intermediate-acting)</button></br></br>
        <button class="ritalin">Ritalin® (short-acting)</button></br></br>
        <button class="ritalinla">Ritalin LA® (long-acting)</button></br></br>
        <button class="ritalinsr">Ritalin SR® (intermediate-acting)</button></br></br>
        <button class="vyvanse">Vyvanse® (long-acting)</button>
    </div>
    
</body>
</html>